<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <ul class="floating-toolbar" th:fragment="floating-toolbar">
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <div class="space-y-md"></div>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)" title="Scroll to top">
        <img src="/icons/scroll-to-top.svg">
      </a>
    </li>
  </ul>
  <th:block th:fragment="floating-toolbar-script">
    <script th:inline="javascript">
    </script>
  </th:block>
</body>

</html>