<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <ul class="floating-toolbar" th:fragment="floating-toolbar">
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)"></a>
    </li>
    <li class="floating-toolbar-item">
      <a href="javascript:void(0)" title="Scroll to top">
        <img src="/icons/scroll-to-top.svg">
      </a>
    </li>
  </ul>
</body>

</html>