<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <header class="topbar" th:fragment="topbar (account)">
    <div class="menu">
      <div class="account-info" th:if="${account != null}">
        <span>
          Hello, <span class="account-username" th:text="${account.username}"></span>
        </span>
        <a class="link" href="/logout">Logout</a>
      </div>
      <div class="account-info" th:if="${account == null}">
        <a class="link" href="/register">Register</a>
        <a class="link" href="/login">Login</a>
      </div>
    </div>
  </header>
</body>

</html>