<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/site/favicon.ico">
  <link rel="stylesheet" href="/site/reset.css">
  <link rel="stylesheet" href="/site/base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>Lobby</title>
</head>

<body>
  <div class="root">
    <div class="page">
      <div class="frame">
        <header class="topbar">
          <div class="logo">
            <p>Website</p>
          </div>
          <div class="menu"></div>
        </header>
        <div class="content-container">
          <div class="left-sidebar">
            <nav class="navigation">
              <a class="nav-link" href="/">Lobby</a>
              <a class="nav-link" href="/cafe">Cafe</a>
              <a class="nav-link" href="/profile">Profile</a>
            </nav>
          </div>
          <main class="content">
            <h1>Lobby</h1>
            <p th:text="'System time: ' + ${data.time}"></p>
            <p th:text="'Bias: ' + ${data.bias}"></p>
          </main>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>Bias Cafe @ 2026</p>
      <p>Kep1er fan social portal</p>
      <p>
        <a href="#">GitHub</a> |
        <a href="#">Credits</a> |
        <a href="#">About</a>
      </p>
    </footer>
  </div>
</body>

</html>